<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>They Borrow - Owe No!</title>
    <link rel="icon" type="image/x-icon" href="/img/logoOn.png">

    <style>
      body {
        font-family: "Poppins";
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
  </head>
  <body class="md:px-10 px-3 py-10 bg-gradient-to-l to-indigo-950 from-black">
    <div
      class="w-fit mx-auto mb-10 bg-blue-500/10 rounded-full px-3 py-0.5 border border-blue-400/20 text-sm md:text-lg"
    >
      <button
        onclick="window.location.href = '/home'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        Home
      </button>
      <button
        onclick="window.location.href = '/i-owe'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        I Owe
      </button>
      <button
        onclick="window.location.href = '/they-owe'"
        class="bg-clip-text bg-gradient-to-tr text-transparent from-purple-500 to-sky-500 font-medium py-1 sm:px-3 px-1 rounded-full transition-all hover:scale-105"
      >
        They Owe
      </button>
      <button
        onclick="window.location.href = '/history'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        History
      </button>
      <button
        onclick="window.location.href = '/split-the-bill'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        Split Bill
      </button>
      <button
        onclick="window.location.href = '/logout'"
        class="text-violet-500/60 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-violet-500/90 transition-all hover:scale-105"
      >
        Log Out
      </button>
    </div>

    <div class="group">
      <h1
        class="group-hover:scale-105 transition-all mx-auto font-extrabold text-7xl text-center bg-clip-text text-transparent bg-gradient-to-r from-purple-500 via-violet-600 to-blue-600 w-fit"
      >
        Owe No!
      </h1>
      <div
        class="group-hover:scale-105 delay-100 transition-all bg-gradient-to-r from-purple-500 via-violet-500 to-blue-500 w-fit mx-auto px-3 py-0.5 rounded-lg mt-2 shadow-lg shadow-violet-500/40"
      >
        <p class="text-white font-medium text-center">
          track debts, keep friends.
        </p>
      </div>
    </div>

    <div class="md:w-3/5 mx-auto mt-10 transition-all lg:w-1/2">
      <p class="font-semibold text-3xl ml-5 text-slate-300">
        They
        <span
          class="text-3xl font-bold text-transparent bg-gradient-to-tr to-sky-500 from-purple-500 bg-clip-text"
          >Owe</span
        >
      </p>
      <p class="font-normal text-sm lg:text-base ml-5 text-slate-400">
        Money People Borrowed From You
      </p>
    </div>

    <form
      action="/they-borrow"
      method="POST"
      class="py-5 px-0 md:p-5 mx-auto 2xl:w-2/5 xl:w-1/2 sm:w-2/3 w-4/5 transition-all"
    >
      <div class="w-fit mx-auto">
        <div
          class="mt-3 hover:scale-105 transition-all mr-2 lg:mr-5 border-violet-500 border rounded-full px-4 py-1 font-medium text-violet-500 hover:text-white hover:bg-violet-500/80 hover:shadow-md hover:shadow-violet-500/50"
        >
          Someone Borrowed my Money
        </div>
      </div>

      <div
        class="pb-5 px-10 mt-8 rounded-lg bg-blue-500/10 border border-blue-400/20 overflow-y-auto max-h-72 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-blue-950/90"
      >
        <p class="text-center mt-3 text-white font-semibold text-lg">
          Debt Details
        </p>

        <div class="flex sm:flex-row flex-col">
          <div class="flex-1">
            <div class="mt-3 flex place-items-end">
              <label for="borrower" class="text-blue-400 font-medium"
                >Borrower:</label
              >
              <input
                required
                
                type="text"
                name="borrower"
                placeholder="Name"
                class="ml-2 flex-1 mr-5 text-sm rounded-md px-2 py-0.5 bg-blue-600/10 font-medium text-white placeholder-blue-300/50 hover:bg-blue-600/20 active:bg-blue-600/40 transition-all active:ring-blue-600/50 focus:ring-1 focus:outline-none focus:ring-blue-600/50 focus:bg-blue-600/30"
              />
            </div>
            <div class="mt-2 flex place-items-end">
              <label for="reason" class="text-blue-400 font-medium"
                >Reason:</label
              >
              <input
                required
                type="text"
                name="reason"
                placeholder="Details"
                class="ml-2 flex-1 mr-5 text-sm rounded-md px-2 py-0.5 bg-blue-600/10 font-medium text-white placeholder-blue-300/50 hover:bg-blue-600/20 active:bg-blue-600/40 transition-all active:ring-blue-600/50 focus:ring-1 focus:outline-none focus:ring-blue-600/50 focus:bg-blue-600/30"
              /><br />
            </div>
            <div class="mt-2 flex place-items-end">
              <label for="due" class="text-blue-400 font-medium"
                >Due Date:</label
              >
              <input
                required
                type="date"
                name="due"
                placeholder="Date"
                class="accent-white ml-2 text-sm rounded-md px-2 py-0.5 bg-blue-600/10 font-medium text-white placeholder-blue-300/50 hover:bg-blue-600/20 active:bg-blue-600/40 transition-all active:ring-blue-600/50 focus:ring-1 focus:outline-none focus:ring-blue-600/50 focus:bg-blue-600/30"
              />
            </div>
          </div>

          <div
            class="bg-blue-600/10 rounded-md px-3 py-3 text-center h-fit sm:mt-0 mt-5"
          >
            <label for="amount" class="text-blue-400 font-medium">Amount</label
            ><br />
            <span class="text-white align-bottom font-semibold mr-1">$</span>
            <input
              required
              step="0.01"
              placeholder="-"
              type="number"
              title="amount"
              name="amount"
              class="text-center w-20 text-lg rounded-md px-2 py-0.5 bg-blue-600/20 font-semibold text-white placeholder-blue-300/50 hover:bg-blue-600/30 active:bg-blue-600/50 transition-all active:ring-blue-600/50 focus:ring-1 focus:outline-none focus:ring-blue-600/50 focus:bg-blue-600/40"
            />
          </div>
        </div>
      </div>
      <div class="mx-auto w-fit mt-3">
        <button
          type="submit"
          class="bg-blue-600/80 w-fit py-1 px-5 rounded-md text-white font-semibold mx-auto text-lg shadow-md shadow-blue-600/30 hover:bg-blue-600 transition-all hover:scale-105 hover:shadow-600/40 active:bg-blue-600/90"
        >
          Submit
        </button>
      </div>
    </form>
  </body>
</html>
